.donation-tax-calc-main_header {
    color: #be1d2c; 
}

.donation-tax-calc-description {
    font-style: italic;
}
.donation-tax-calc-section-header {
    color: white; 
    background-color: #be1d2c; 
    padding: 5px;
}
.donation-tax-calc-sub-section-header {
    color: #be1d2c;
}
.donation_tax_calc-typical_donation_cost_section{
    background-color: #e8ecf0;
    text-align: center;
    font-style: italic;
}
.donation-tax-calc-typical_donation_cost_header{
    font-size: 16px;
}
.donation-tax-calc-submit-button {
    color: white; 
    background-color: #be1d2c; 
    border: #be1d2c;
}
.donation-tax-calc-cost-message{
    background-color: green;
    color: white;
    text-align: center;
    padding: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.donation-tax-calc-cost-message h3{
    margin-top: 0px;
    margin-bottom: 0px;
}
.hidden{
    display: none;
}
